body {
    height: 100%;
    flex-direction: column;
    display: flex;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .interface{
    width: 90%;
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #00bfff;
}
.social{
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social a{
    font-size: 60px;
    color: #092e6e;
    transition: 0.3s;
}

.social img{
    height: 60px;
    width: 60px;
    gap: 50px;
    transition: 0.3s;
}
nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    border-radius: 8px;
    padding: 8px 10px;
}

nav ul li a:hover{
    color: #00bfff;
}

.btn {
    background: linear-gradient(90deg, #092e6e, #1540a4);
    color: #092e6e;
    font-weight: bold ;
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover{
       background: linear-gradient(90deg, #1540a4, #1e90ff);
       transform: translateY(-2px);
       box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.buttons{
    display: flex;
    align-items: center;
    gap: 55;
}
.btn-usuario{
    font-size: 20px;
    color: #092e6e;
    top: 10px;
    right: 40px;
}

.btn-dev{
    font-size: 20px;
    color: #092e6e;
    top: 10px;
    right: 160px;
}

.logo img{
    height: 150px;
    width: 250px;
    max-height: 100px;
    transition: transform 0.3s;
    margin-left: 30px;
}

.logo a:hover img{
    transform: scale(1.05);
    color: #ffcc00;
}

.video-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
}

.background-video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(9, 46, 110, 0.35);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.overlay h1 {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 0 2px 8px rgba(0,0,0,0.3);
    margin: 0;
}

.overlay p{
    color: white;
    font-size: 20px;
}

footer {
    background-color: #092e6e;
    color: #fff;
    padding: 24px 0 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 90px;
}

.footer-links a{
    font-size: 36px;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color:#00bfff
}

.footer-bottom p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.footer-links a img,
.footer-logo img {
    color: white;
}

/* Responsivo */
@media (max-width: 900px) {
    .video-container {
        height: 40vh;
    }
    .sinopse {
        padding: 32px 0;
    }
    .footer-container {
        flex-direction: column;
        gap: 12px;
    }
}

.detalhes {
  background: #fff;
  padding: 60px 20px;
}

.detalhes-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.detalhes-item {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.detalhes-image {
  flex: 1 1 400px;
  text-align: center;
}

.detalhes-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  object-fit: contain;
}

.detalhes-text {
  flex: 1 1 500px;
}

.detalhes-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #092e6e;
}

.detalhes-text p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333;
  text-align: justify;
}

@media (max-width: 900px) {
    .filme-content {
        flex-direction: column;
        align-items: center;
    }

    .Sinopse-img img {
        width: 80%; 
        height: auto; 
    }
}
